body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  /*   margin-bottom: 0; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/******************* Header ***************/
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 1158px; */
  min-width: 320px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /*  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px; */
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-style {
  color: #2e2f42;
}
.menu-open {
  align-items: baseline;
  background-color: #fff;
  border: none;
  padding: 0;
}

.header-icon-btn {
  fill: #2f2f37;
  padding: 0;
}
.nav-page {
  /* display: flex; */
  align-items: center;
  display: none;
}
.nav-list {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  display: none;
}
.nav-item {
}

.nav-item-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;
}

.link-studio {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio:hover,
.link-studio:focus {
  color: #404bbf;
}

.address-page {
  font-style: normal;
}
.address-list {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  display: none;
}
.address-item {
}
.address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}
/*------------------ Mob-Menu-----------------*/
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-close {
  display: flex;
  /* display: block; */
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 100%;
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}
.menu-close-btn {
  fill: #2e2f42;
}
.mob-nav-list {
}
.mob-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-nav-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-link-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mob-address-page {
  margin-bottom: 48px;
}
.mob-address-list {
  font-style: normal;
}
.mob-address-item {
  font-style: normal;
  margin-bottom: 24px;
}
.mob-address-item-link {
  font-style: normal;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.mob-address-item-link:first-child {
  font-style: normal;
}
.mob-icon-list {
  display: flex;
  gap: 40px;
}
.mob-item-icon {
  width: 40px;
  height: 40px;
}
.mob-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
  border-radius: 50%;
  background: #4d5ae5;
}
.mob-icon {
}
/********************** Hero *********************/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/background_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  /* max-width: 1440px; */
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background_mobile_2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  height: 160px;
  text-align: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.hero-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  gap: 10px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/********************* Features *****************/
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-item {
  width: 100%;
}
.svg-container {
  /*  display: flex; */
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: none;
}

.features-sub-title {
  display: block;
  /* font-weight: 500; */
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 36px;
  /* line-height: 1.2; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.features-sub-title-text {
  /*  font-weight: 400; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
}
/******************** Team *******************/
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 24px; */
  row-gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-container {
  padding: 32px 0;
}
.team-sub-title .container {
  text-align: center;
  margin-bottom: 8px;
}
.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text .container {
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item-icon {
  height: 40px;
  width: 40px;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  stroke: #f4f4fd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.team-icon {
}
/******************** Portfolio **************/
.portfolio {
  /*   padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  row-gap: 48px;
}
.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 100%;
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}
/* .portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: none;
}
.portfolio-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-right: auto;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**************** Footer ******************/
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  /*   padding-left: 16px;
  padding-right: 16px; */
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logo-container {
  /* align-items: center; */
  min-width: 288px;
  /* margin-right: 120px; */
  margin-bottom: 72px;
}
.footer-logo {
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  align-items: center;
  margin-bottom: 16px;
  /* display: inline-block */
  display: block;
}

.footer-logo-style {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* max-width: 264px; */
  max-width: 288px;
  margin-bottom: 0;
}
.footer-social-media {
  align-items: center;
  text-align: center;
  display: block;
  min-width: 208px;
  height: 80px;
  margin-bottom: 72px;
}
.footer-title {
  align-items: center;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icon-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-left: auto; */
}

.footer-title-form {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}
.footer-field {
}
.footer-input {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  /*  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
}
.send-icon {
  margin-left: 16px;
  fill: #fff;
  margin-left: 16px;
  top: 10px;
}

/**************** Backdrop **************/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  /* width: 408px; */
  width: 288px;
  /* min-height: 584px; */
  min-height: 653px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-bottom: 24px;
  /* padding-left: 24px;
  padding-right: 24px; */
  padding-left: 16px;
  padding-right: 16px;
}
.modal-close {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .close-icon {
  fill: #ffffff;
}
.modal-close:focus .close-icon {
  fill: #ffffff;
}
.modal-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* max-width: 360px; */
  max-width: 256px;
  margin-bottom: 16px;
}
.modal-field {
  /* margin-bottom: 8px; */
  margin-bottom: 4px;
}
.modal-field-comment {
  /*  margin-bottom: 16px; */
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 19px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:active {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-field-check {
  margin-bottom: 24px;
}
.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  max-width: 231px;
}
.modal-check-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-icon {
  display: inline-flex;
}
.policy-link {
  margin-left: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4d5ae5;
  text-decoration: underline;
}

.send-button {
  display: block;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*------------------- Media ------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-container {
    justify-content: flex-start;
  }
  .team .container,
  .footer-container {
    max-width: 584px;
  }
  /**********Header ************/
  .logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 120px;
  }
  .menu-open {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .nav-page {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 24px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: 120px;
  }
  .address-item-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  /********* Hero **************/
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background_tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    margin: 0 auto;
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background_tablet_2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    height: 120px;
    text-align: center;
    margin-bottom: 36px;
  }
  .hero-btn {
    margin-top: 36px;
  }
  /********* Features***********/
  .features {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    max-width: 356px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-sub-title {
    text-align: left;
    /* font-weight: 500; */
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 36px;
    /* line-height: 1.2; */
    line-height: 1.11;
  }
  .features-sub-title-text {
    /*  font-weight: 400; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /************Team *************/
  .team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 64px;
    flex-basis: calc((100% - 24px) / 2);
  }
  /*********** Portfolio *******/
  .portfolio {
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 24px) / 2);
    row-gap: 72px;
  }

  .portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* width: 100%; */
    flex-basis: calc((100% - 24px) / 2);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /*************** Footer **********/
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }

  .footer-logo-container {
    text-align: left;
    min-width: 264px;
    height: 112px;
    /* margin-right: 24px; */
    margin-bottom: 0;
  }
  .footer-logo {
    text-align: left;
    display: inline-block;
  }
  .footer-text {
    text-align: left;
    width: 264px;
  }
  .footer-social-media {
    text-align: left;
    display: block;
    min-width: 208px;
    height: 80px;
    margin-bottom: 0;
  }
  .footer-form-div {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
  }

  .footer-title-form {
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: auto;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  /*********** Modal *************/
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .modal-title {
    max-width: 360px;
  }
  .modal-field {
    margin-bottom: 8px;
  }
  .modal-field-comment {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container {
    justify-content: flex-start;
  }
  .team .container,
  .footer .container {
    max-width: 1158px;
  }
  /****************** Header ***************/
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 0;
  }
  .menu-open {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .nav-page {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 332px;
  }

  .address-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /************** Hero ***************/
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/background.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background_2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
  }
  .hero-btn {
    margin-top: 48px;
  }
  /********* Features ***********/
  .features {
    padding: 120px 0;
  }
  .features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* gap: 24px; */
  }
  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .svg-container {
    display: flex;
  }
  .features-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-sub-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /************** Team *****************/
  .team {
    /* width: 100%; */
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
  /*********** Portfolio*********/
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    width: 100%;
    /*  padding-top: 96px;
    padding-bottom: 96px; */
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* width: 100%; */
  }

  @media screen and (min-width: 1158px) {
    .portfolio-item {
      box-shadow: none;
    }
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-cover-text {
    display: inline;
  }
  /************ Footer **********/
  footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    max-width: 1125px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    gap: 0;
  }
  .footer-logo-container {
    /* align-items: center; */
    max-width: 264px;
    margin-right: 120px;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social-media {
    max-width: 208px;
    margin-right: 80px;
  }

  .footer-form-div {
    max-width: 453px;
    margin-left: auto;
    align-items: flex-start;
  }
  .footer-title-form {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .footer-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 1;
    width: 264px;
  }
  /*********** Modal *************/
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .modal-title {
    max-width: 360px;
  }
  .modal-field {
    margin-bottom: 8px;
  }
  .modal-field-comment {
    margin-bottom: 16px;
  }
}
